{{ ansible_managed | comment }}
server:
  http_listen_address: 127.0.0.1
  http_listen_port: 9080
  grpc_listen_address: 127.0.0.1
  grpc_listen_port: 0
  log_level: {{ promtail_config_log_level }}

# Positions
positions:
  filename: /var/lib/promtail/positions.yaml

# Loki Server URL
clients:
  - url: http://{{ promtail_config_client_loki_address }}:{{ promtail_config_client_loki_port }}{{ promtail_config_client_loki_path }}
{% if promtail_config_client_set_tenant_id %}
    tenant_id: {{ promtail_config_client_tenant_id }}
{% endif %}
    external_labels:
{% for label_key in promtail_config_client_external_labels %}
      {{ label_key }}: {{ promtail_config_client_external_labels[label_key] }}
{% endfor %}

{% if __loki_go_os == 'linux' %}
scrape_configs:
  - job_name: journal
    journal:
      path: {{ promtail_config_scrape_journald_path }}
      labels:
        job: journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
{% endif %}
