[Unit]
Description=Distributor of Loki Log Aggregator
Documentation=https://github.com/grafana/loki
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/loki -config.file /etc/loki/loki.yml -target distributor
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target
